.container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    /* background-color: red; */
    font-family: Ink Free, sans-serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/026/088/475/non_2x/seamless-pattern-of-award-symbol-icon-badge-with-dog-or-cat-paw-print-and-ribbons-pet-show-winner-concept-illustration-vector.jpg");
  }

  body{
    background: rgb(34, 32, 32);
  }
  
  h1 {
    color: #440606;
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0 3px;
    text-align: center;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color:lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: auto;
  }
  
  .buttonGallerySave{
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer,

  }
  .buttonGalleryDelete{
    position: absolute;
    top: 20px;
    left: 86px;
    padding: 3px 5px;
    background-color: red;
    color: white;
    font-size: 6px;
    border-radius: 5px;
    cursor: pointer,

  }
  .buttonGalleryDelete:hover{
    background-color: rgb(243, 81, 81);

  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  img {
    margin-top: 20px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 20px;
    color: #555;
  }
  

  .gallery{
    margin-left: auto;
    float:right;
    width: 10%;
    align-items: center;
    overflow-y: auto;
    max-height: 600px;
  }
  .galleryImage{
    max-width: 100px;
    max-height: 100px;
  }

  .breeds{
    /* display: flex; */
    text-align:center;
    align-items: block;
    justify-content: center;
    float:left;
    width: 89.7%;
  }

  .image{
    max-height: 370px;
  }